<h2>Todo List</h2>

<p>Add New Task: <%= render "form" %></p>

<ol>
  <% if @tasks.empty? %>
    <p>
      You currently don't have anything in your todo list.<br>
      Start striking out your tasks and goals today!
    </p>
  <% end %>
  <% @tasks.each do |task|%>
    <li>
      <%= task.text %>
      <%= link_to image_tag("delete-icon.png", class: "icon"), task_path(task), method: "delete" %>
      <%= link_to image_tag("edit-icon.png", class: "icon"), edit_task_path(task) %>
        <ul>
          <li><%= link_to "Start Timer", new_task_timer_path(task) %></li>
        </ul>
    </li>
  <% end %>
</ol>