<main>
  <p>Click <%= link_to "here", reset_path %> to reset your pomodoro count.</p>
  <% if Pomodoro.count >= 4 %>
    <p>It's time for a break!</p>
  <% end %>
  <h2>Todo List</h2>
  <ol class="list">
    <div id="add-task">
      <%= render "form" %>
    </div>

    <% if @tasks.empty? %>
      <p>
        You currently don't have anything in your todo list.<br>
        Start striking out your tasks and goals today!
      </p>
    <% end %>

    <% @tasks.each do |task|%>
      <li>
        <div class="task-form">
          <%= render "form", :@task => task %>
        </div>
        <div class="task">
          <%= task.text %>
          <%= link_to image_tag("edit-icon.png", class: "edit-task icon", alt: "Edit", title: "Delete"), edit_task_path(task) %>
          <%= link_to image_tag("delete-icon.png", class: "delete-task icon", alt: "Delete", title: "Delete"), task_path(task), method: "delete", data: { confirm: "Are you sure?" } %>
          <%= link_to image_tag("timer-icon.png", class: "icon", alt: "Timer", title: "Start Timer"), new_task_pomodoro_path(task) %>
          <% task.pomodoros.each do |pomodoro|%>
            <% if pomodoro.user == current_user %>
              <%= image_tag("pomodoro-timer.png", class: "icon") %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
</main>