<div class="center">
  <img src="http://blog.ashfame.com/wp-content/uploads/2011/04/pomodoro.png">
  <p>Welcome to the Pomodoro Todo List. This todo list utilizes the <a href="http://pomodorotechnique.com/" target="_blank">Pomodoro technique</a>, a time management system meant to be both productive and fun.</p>
  <h3>How it works</h3>
  <ul class="list-group">
    <li class="list-group-item">Decide on the task to be done</li>
    <li class="list-group-item">Set a timer to 25 minutes</li>
    <li class="list-group-item">Work on the task until the timer rings. If a distraction pops into your head, write it down, but immediately get back on task.</li>
    <li class="list-group-item">After the timer rings, put a checkmark on a piece of paper.</li>
    <li class="list-group-item">If you have fewer than four checkmarks, take a short break (3–5 minutes), then go to step 1.</li>
    <li class="list-group-item">After four pomodoros, take a longer break (15–30 minutes), reset your checkmark count to zero, then go to step 1.</li>
  </ul>

  <h3>Sign Up</h3>
  <%= form_for @user do |f|%>
    <%= f.text_field :name, placeholder: "name" %><br>
    <%= f.text_field :email, placeholder: "email" %><br>
    <%= f.password_field :password, placeholder: "password" %><br>
    <%= f.submit "Submit", class: "btn btn-info" %>
  <% end %>

  <h3>Log In</h3>
  <%= form_for @user, url: {action: "auth"} do |f| %>
    <%= f.text_field :email, placeholder: "email" %><br>
    <%= f.password_field :password, placeholder: "password" %><br>
    <%= f.submit "Submit", class: "btn btn-info" %>
  <% end %>
</div>