<div class="center register-user">
  <h3>Sign Up</h3>
  <%= form_for @user, html: {class: 'fancybox-form'} do |f|%>
    <%= f.text_field :name, placeholder: "name" %><br>
    <%= f.text_field :email, placeholder: "email" %><br>
    <%= f.password_field :password, placeholder: "password" %><br>
    <%= f.submit "Submit", class: "btn btn-secondary" %>
  <% end %>
</div>